* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  background-color: rgb(58, 58, 114);
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  width: 100%;
  height: 80%;
}
#coords {
  width: 500px;
}
