* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  background-color: rgb(58, 58, 114);
  height: 100%;
  margin: 0;
  padding: 0;
  align-items: center;
}
#main_container {
  height: 100%;
}

#map {
  height: 90vh;
}
#coords {
  width: 50%;
}
